@* Hide quote field from user input *@
@* <div class="form-group">
    @Html.LabelFor(model => model.Quote)
    @Html.EditorFor(model => model.Quote)
    @Html.ValidationMessageFor(model => model.Quote)
</div> *@
